.editModal {
    padding: 25px;
}

.aquariumHistory {
    margin-bottom: 25px !important;
}

.aquariumHistoryForm {
    margin-top: 10px !important;
    margin-bottom: 25px !important;
}

.aquariumHistoryFormName {
    margin-bottom: 10px !important;
}