.aquarium__card img {
    width: 60px;
    opacity: .75;
    margin-bottom: 10px;
}

.aquarium__card img:hover {
    opacity: 1;
}

.addAquarium {
    margin-top: 15px !important;
}

.aquarium {
    padding: 25px;
}

.aquarium__header {
    display: flex;
    flex-flow: row norwap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.aquarium__intro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.aquarium__intro h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 25px !important;
}