.aquarium__card img {
    width: 60px;
    opacity: .75;
    margin-bottom: 10px;
}

.aquarium__card img:hover {
    opacity: 1;
}

.addAquarium {
    margin-top: 15px !important;
}

.aquarium {
    border: 1px solid black;
    padding: 25px;
}

.aquarium__header {
    display: flex;
    flex-flow: row norwap;
    justify-content: space-between;
}