.navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #161A66;
    padding: 10px;
}

.navbar__logo {
    margin-bottom: 25px;
}