h1 {
    display: none;
}

h2 {
    margin-top: 5% !important;
}

.loginLogo {
    width: 100%;
    margin-bottom: 5%;
}

.videoBg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    opacity: .25;
    z-index: -1;
}

.container--login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.form--container {
    background-color: white;
    padding: 50px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.button--submit {
    margin-top: 10px !important;
}

.link--register {
    text-align: center;
    margin-top: 25px;
}