h1 {
    display: none;
}

h2 {
    margin-top: 0 !important;
}

.container--login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.form--container {
    background-color: white;
    padding: 50px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.button--submit {
    margin-top: 10px !important;
}

.link--register {
    text-align: center;
    margin-top: 25px;
}